@import '../theme.scss';

.pagination {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $info;
  ul {
    display: flex;
    justify-content: center;
    grid-gap: 0.1rem;
    flex-direction: row;
    list-style: none;
    max-width: 25rem;
    margin: auto;
    padding: 1rem;
  }
}
