@import '../theme.scss';

.btn-container.selected {
  .btn {
    transform: scale(0.97);
    filter: brightness(0.9);
  }
}
.btn-container {
  display: flex;
  justify-content: center;
  .btn {
    padding: 0.4rem;
    width: 2rem;
    height: 2rem;
    border: none;
    transition: 0.1s;
  }
  .circle {
    border-radius: 2rem;
  }
  .round {
    border-radius: 0.5rem;
  }
  .flat {
    border-radius: 0.2rem;
  }
  .primary {
    background-color: $primary;
    color: $info;
  }
  .secondary {
    background-color: $secondary;
    color: $info;
  }
  .info {
    background-color: $info;
    color: $primary;
  }
  .disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: blur(0.6px);
  }
}
