@import '../theme.scss';
.error-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  .error {
    position: relative;
    min-width: 15rem;
    min-height: 15rem;
    padding: 2rem;
    position: absolute;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: $error;
    color: $info;
  }
}
