/**
-------------- Colour Palette --------------
*/
$primary: #0081a7ff;
$secondary: #00afb9ff;
$info: #fdfcdcff;
$error: #f07167ff;
$success: #fed9b7ff;
/**
-------------- Fonts --------------
*/
$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
