@import '../theme.scss';
.tableWrapper {
  table {
    margin-bottom: 10rem;
    border: 1px solid $primary;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }

  table tr {
    background-color: white;
    border: 1px solid $primary;
    padding: 0.35em;
  }
  table th {
    background-color: $info;
    color: $primary;
  }
  table th,
  table td {
    padding: 0.625em;
    text-align: center;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: normal;
    overflow: hidden;
  }

  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid $info;
      display: block;
      margin-bottom: 0.625em;
    }

    table td {
      border-bottom: 1px solid $secondary;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }

  /* general styling */
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
  }
}
